.adri-icon-logo {
  border-radius: 10px;
  height: 51px;
  margin: 0 10px 0 0;
  object-fit: scale-down;
  width: 45px;
}

.adri-company {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 5px 0;
  width: 300px;
}

.adri-details {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

.adri-detail-body {
  background-color: #dbdbdb;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
}

.adri-info {
  width: 50%;
}

.adri-detail-col {
  margin: 0 auto 0 0;
}

h1 {
  font-family: "Abel", sans-serif;
  font-size: 42px;
}

h2 {
  font-family: "Abel", sans-serif;
  font-size: 35px;
  margin: 20px 0;
}

span {
  display: block;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  margin: 5px 0;
}

@media screen and (max-width: 425px) {
  .adri-info {
    width: 100%;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
    font-weight: bolder;
    margin: 20px 0 10px 0;
  }
}
