.adri-grid h1 {
  font-family: "Abel", sans-serif;
  font-size: 42px;
}

.adri-grid-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.adri-grid-element {
  animation: animateGrid 0.5s;
}

@media screen and (max-width: 768px) {
  .adri-grid-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .adri-grid h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 375px) {
  .adri-grid-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes animateGrid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
