.adri-moviethumb {
  border-radius: 20px;
  height: auto;
  object-fit: cover;
  transition: all 0.3s;
  width: 100%;
}

.moviethumb {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.clickable {
  border-radius: 20px;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: all 0.3s;
  width: 100%;
}

.clickable:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .moviethumb {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
