.adri-actor {
  background: #1c1c1c;
  border-radius: 20px;
  height: auto;
  min-height: 30px;
  padding: 0 0 25px;
  text-align: center;
}

.adri-actor img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.adri-actor-name {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: "Abel", sans-serif;
  font-size: 22px;
  margin: 20px 0 0 0;
}

.adri-actor-character {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: "Abel", sans-serif;
  font-size: 18px;
}

/* version 2 */
/* .adri-actor {
  height: auto;
  min-height: 30px;
  background: #1c1c1c;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.adri-actor img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.adri-actor-name {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: "Abel", sans-serif;
  font-size: 22px;
  margin: 20px 0 0 0;
}

.adri-actor-character {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: "Abel", sans-serif;
  font-size: 18px;
} */

/* @media screen and (max-width: 768px) {
  .adri-actor {
    height: 80%;
  }

  .adri-actor img {
    height: 200px;
  }
} */

@media screen and (max-width: 425px) {
  .adri-grid-element {
    display: contents;
  }

  .adri-grid-content {
    grid-gap: 10px;
  }

  .adri-actor img {
    height: 240px;
  }

  .adri-actor-name {
    font-size: 20px;
    margin: 20px 5px 0 5px;
  }

  .adri-actor-character {
    font-size: 14px;
  }
}

/* @media screen and (max-width: 375px) {
  .adri-actor img {
    height: 100px;
  }
} */
